---
title: adrian's soapbox
---

{% include header.html %}
			<h1>Recommended Posts</h1>
			<p><i>New here?  Check out some of my favorite posts:</i></p>
			<div class="recommended">
				{% for rec in site.data.recommended_posts %}
				<a href="{{ rec.uri }}">
				<div class="recommendation">
					<img src="{{ rec.img }}" />
					<div class="under">
						<h3>{{ rec.title }}</h3>
					</div>
				</div>
				</a>
				{% endfor %}
			</div>
			{% for post in paginator.posts %}
			{% if post.visible == true %}
			<div class="article">
				<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
				<p class="postinfo">
				{% if post.tag != null %}
				{% for cur_tag in site.collections[1].docs %}
				{% if post.tag == cur_tag.shortname %}
				<a href="{{ cur_tag.url }}"><span class="post_tag">{{ cur_tag.title }}</span></a>
				{% endif %}
				{% endfor %}
				{% endif %}
				{% if post.project-posted-date != null %}
				Completed on {{ post.date | date_to_long_string }}, Posted on {{ post.project-posted-date }} by {{ post.author }}
				{% else %}
				Posted on {{ post.date | date_to_long_string }} by {{ post.author }}
				{% endif %}
				</p>
				{{ post.content | split:'<!--break-->' | first }}
				{% if post.content contains '<!--break-->' %}
					<br />
					<a href="{{ post.url }}">&raquo; read more</a>
				{% else %}
					<br />
				{% endif %}
			</div>
			<br />
			{% endif %}
			{% endfor %}

			<p id="pagination">
				{% for page in (1..paginator.total_pages) %}
					{% if page == paginator.page %}
						{{ page }}
					{% elsif page == 1 %}
						<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">1</a>
					{% else %}
						<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
					{% endif %}

					{% if page != paginator.total_pages %}
					 | 
					{% endif %}
				{% endfor %}
			</p>


{% include footer.html %}