---
title: adrian's soapbox
---

{% include header.html %}

			{% for post in paginator.posts %}
			{% if post.visible == true %}
			<div class="article">
				<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
				<p class="postinfo">
				{% if post.tag != null %}
				<span class="post_tag">{{ post.tag }}</span>
				{% endif %}
				Posted on {{ post.date | date_to_long_string }} by {{ post.author }}
				</p>
				{{ post.content | split:'<!--break-->' | first }}
				{% if post.content contains '<!--break-->' %}
					<br />
					<a href="{{ post.url }}">&raquo; read more</a>
				{% else %}
					<br />
				{% endif %}
			</div>
			<br />
			{% endif %}
			{% endfor %}

			<p id="pagination">
				{% for page in (1..paginator.total_pages) %}
					{% if page == paginator.page %}
						{{ page }}
					{% elsif page == 1 %}
						<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">1</a>
					{% else %}
						<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
					{% endif %}

					{% if page != paginator.total_pages %}
					 | 
					{% endif %}
				{% endfor %}
			</p>


{% include footer.html %}