<!DOCTYPE html>
<html>
	<head>
		<title> {{ page.title }} </title>
		<link rel="stylesheet" type="text/css" href="/css/all.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/all.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="header">
			<h1 class="grad_text">flafla2's soapbox</h1>
			<div class="nav" id="mobile">
				<div class="grad_text">open navigation</div>
			</div>
			<div class="nav" id="desktop">
				<a class="nava" href="/index.html"><div class="navlink">home</div></a>
				<a class="nava" href="/about"><div class="navlink">about</div></a>
				<a class="nava" href="https://github.com/Flafla2"><div class="navlink">github</div></a>
			</div>
			<div id="navlinks">
				<a class="nava" href="/index.html"><div class="navlink">home</div></a>
				<a class="nava" href="/about"><div class="navlink">about</div></a>
				<a class="nava" href="https://github.com/Flafla2"><div class="navlink">github</div></a>
			</div>
		</div>
		<div class="content">