<!DOCTYPE html>
<html>
	<head>
		<title> {{ page.title }} </title>
		<link rel="stylesheet" type="text/css" href="/css/all.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/all.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

		<meta name="viewport" content="width=device-width">

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-53642959-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<script>
		 (function(d, t) {
		    var g = d.createElement(t),
		        s = d.getElementsByTagName(t)[0];
		    g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
		    s.parentNode.insertBefore(g, s);
		}(document, 'script'));
		</script>
	</head>
	<body>
		<div class="header">
			<h1 class="grad_text">flafla2's soapbox</h1>
			<div class="nav" id="mobile">
				<div class="grad_text">open navigation</div>
			</div>
			<div class="nav" id="desktop">
				<a class="nava" href="/index.html"><div class="navlink">home</div></a>
				<a class="nava" href="/about"><div class="navlink">about</div></a>
				<a class="nava" href="https://github.com/Flafla2"><div class="navlink">github</div></a>
			</div>
			<div id="navlinks">
				<a class="nava" href="/index.html"><div class="navlink">home</div></a>
				<a class="nava" href="/about"><div class="navlink">about</div></a>
				<a class="nava" href="https://github.com/Flafla2"><div class="navlink">github</div></a>
			</div>
		</div>
		<div class="content">