{% include header.html %}

<div class="article" style="border-bottom: none;">
	<h1>{{ page.title }}</h1>
	<p class="postinfo">
	{% if page.tag != null %}
	{% for cur_tag in site.collections[1].docs %}
	{% if page.tag == cur_tag.shortname %}
	<a href="{{ cur_tag.url }}"><span class="post_tag">{{ cur_tag.title }}</span></a>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% if page.project-posted-date != null %}
	Completed on {{ page.date | date_to_long_string }}, Posted on {{ page.project-posted-date }} by {{ page.author }}
	{% else %}
	Posted on {{ page.date | date_to_long_string }} by {{ page.author }}
	{% endif %}
	</p>
	{{ content }}
	<br />

	{% if page.comments == true %}
	<h1>Comments</h1>
	{% include comments.html %}
	{% endif %}
</div>

{% include footer.html %}